{% extends "layout.html" %}

{% block heading %}
    Twitter tool
{% endblock %}

{% block body %}
    <h3 class = 'text-left'>Do operations using tweet ID</h3>
    <form action="{{ url_for('retweet_like_from_twitter_id') }}" method="post" class = 'container'>
        <label for="tweet_id">Enter tweet ID: </label>
        <input type="number" name="tweet_id" class ='form-control'>
        <label for="id_retweet_check">Retweet</label>
        <input type="checkbox" name="id_retweet_check" class = 'checkbox' >
        <label for="id_like_check">Like</label>
        <input type="checkbox" name="id_like_check" class = 'checkbox' >
        <label for="id_wait_interval">Enter wait time(in seconds) between tweets: </label>
        <input type="number" name="id_wait_interval" class = 'form-control'>
        <button class = 'btn btn-default'>Submit</button>
    </form>

    <h3 class = 'text-left'>Update same Status</h3>
    <form action = "{{ url_for('tweet_bomb') }}", method="post" class = 'container'>
      <label for="tweet_text">Enter the tweet to be tweeted multiple times: </label>
      <textarea name="tweet_text" class = 'form-control' ></textarea>
      <label for="wait_interval">Enter wait time(in seconds) between each tweets </label>
      <input type="number" name="wait_interval" class = 'form-control'>
      <button class = 'btn btn-default'>Tweet</button>
    </form>

    <h3 class = 'text-left'>Pick n number of tweets from user timeline(using screen name) and do operations on them.</h3>
    <form action="{{ url_for('retweet_like_using_screen_name') }}" method="post" class = 'container'>
        <label for="screen_name">Enter Screen Name: </label>
        <input type="text" name="screen_name" class="form-control">
        <label for="status_count">Number of tweets to pick: </label>
        <input type="number" name="status_count" class = 'form-control'>
        <label for="timeline_retweet_check">Retweet </label>
        <input type="checkbox" name="timeline_retweet_check" class = 'checkbox' >
        <label for="timeline_like_check">Like </label>
        <input type="checkbox" name="timeline_like_check" class = 'checkbox' >
        <label for="timeline_wait_interval">Enter wait time(in seconds) between each operation </label>
        <input type="number" name="timeline_wait_interval" class = 'form-control'>
        <button class = 'btn btn-default'>Submit</button>
    </form>
{% endblock %}
